@charset "UTF-8";
/* CSS Document */
body {
	background-color: azure;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

dt {
	font-weight: bold;
}
