@charset "UTF-8";
/* CSS Document */
body {
	background-color: bisque;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0 10%;
}

h2 {
	color:darkred;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	border-bottom: 1px solid #472191;
	padding-bottom: 30px;
}

em {
	color: crimson;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}