@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("img/floor-tile.png");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START CSS */

body {

}

#wrapper {
	width: 960px;
	background-color: rgba(255,255,255,0.00);
}

header { 
	width: 960px;
	float: left;
	border-bottom: medium solid #DBDCC2;
}

#logo {
	width: 160px;
	margin-left: 10px;
	margin-top: 50px;
	margin-bottom: 28px;
	float: left;
}

nav {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 14px;
	width: 658px;
	margin-left: 132px;
	float: left;
	margin-top: 96px;
}

li {
	display: inline;
	margin-left: 30px;

}

ul.mainnav {
	list-style: none;
}

main {
	width: 960px;
	height: 750px;
	border-bottom: medium solid #DBDCC2;
}
.column {
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	float: left;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 17px;
}

h4 {
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 22px;
}

footer {
	width: 960px;
	margin-left: 10px;
	float: left;
	margin-top: 20px;
	font-weight: lighter;
	font-size: 14px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
