@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("wavegrid_@2X.png");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS START */

/* homepage */

a:link {
	color: #b1bcc2;
	text-decoration: none;
}
a:visited {
	color: #b1bcc2;
	text-decoration: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
#wrapper {
	width: 100%;
	height: 100%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.sidebar {
	width: 15%;
	background-color: #b1bcc2;
	margin-right: 2%;
	display: block;
	height: 100%;
	float: left;
	position: fixed;
	top: 0;
}
.sidebar img {
	float: left;
	padding-right: .5px;
}
h1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1em;
	margin-top: 40px;
	text-align: center;
}
h3 {
	color: #FFFFFF;
	text-align: center;
	font-size: .6em;
	border-bottom: thick solid #cedae1;
	margin-bottom: 20px;
	margin-top: 10px;
}
#me {
	border-bottom: thick solid #cedae1;
	margin-left: 10px;
	padding-bottom: 10px;
}
.sidebar p {
	color:#FFFFFF;
	font-size: .8em;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	word-wrap: normal;
}
.sidebar a:link {
	color:#e6ffff;
}

#content {
	float: left;
	width: 73%;
	margin-left: 24%;
	align-content: center;
	margin-top: 30px;
}
#picofme {
	height: 100%;
	width: 100%;
}
.category {
	width: 90%;
	text-align: center;
	text-color: #b1bcc2;
	margin-right: 5%;
	align-content: center;
	margin-bottom: 20px;
}

h2 {
	color: #b1bcc2;
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 15px;
}
#footer {
	font-size: .6em;
	float: right;
	margin-right: 30%;
	margin-top: 10px;
}
#header {
	margin-top: 30px;
	font-weight: bold;
	font-size: 1.5em;
	margin-left: 22%;
}

.item {
	width: 70%;
	align-content: center;
	margin-left: 9%;
}
h4 {
	color: #b1bcc2;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 1.2em;
	}
.link{
	color:#FFFFFF;
	font-size: 1em;
	border-bottom: thick solid #cedae1;
	margin-top: 20px;
	}
#content p {
		margin-top: 10px;
		font-size: .8em;
	margin-bottom: 30px;
	}
.item img {
	width: 70%;
	height: 70%;
}

#sidebar img {
	width: 20%;
	height: 20%;
}
.item p {
	font-size: 1em;
}


@media only screen and (min-width: 800px) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
	a:link {
	color: #b1bcc2;
	text-decoration: none;
}
a:visited {
	color: #b1bcc2;
	text-decoration: none;
}
#wrapper {
	width: 100%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.item p {
	font-size: 1.5em;
	}
.sidebar {
	width: 22%;
	background-color: #b1bcc2;
	margin-right: 2%;
	display: inline-block;
	height: 100%;
	float: left;
	position: fixed;
	top: 0;
}

h1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 2em;
	padding-top: 40px;
	text-align: center;
}
h3 {
	color: #FFFFFF;
	text-align: center;
	font-size: 1.5em;
	border-bottom: thick solid #cedae1;
	margin-bottom: 20px;
	margin-top: 10px;
}
#me {
	border-bottom: thick solid #cedae1;
	margin-left: 10px;
}
.sidebar p {
	color:#FFFFFF;
	font-size: 1em;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 10px;
	text-wrap: normal;
}
.sidebar a:link {
	color:#e6ffff;
}#content {
	float: left;
	width: 73%;
	margin-left: 24%;
	margin-top: 30px;
	position: relative;
}

.category {
	width: 40%;
	text-align: center;
	text-color: #b1bcc2;
	margin-right: 5%;
	float: left;
	margin-bottom: 20px;
}
h2 {
	color: #b1bcc2;
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 15px;
}
#footer {
	font-size: .6em;
	float: right;
	margin-right: 15%;
	margin-top: 10px;
}
	#sidebar img {
		width: 30%;
		height: 30%;
	}
#header {
	margin-top: 30px;
	margin-left: 22%;
	font-size: 1.6em;
	font-weight: bold;
}

.item {
	width: 70%;
	align-content: center;
	margin-left: 10%;
}
	.item img {
		width: 100%;
		height: 100%;
	}
h4 {
	color: #b1bcc2;
	margin-bottom: 20px;
	font-size: 1.3em;
	font-weight: bold;
	}
.link{
		color:#FFFFFF;
	font-size: 1.3em;
	border-bottom: thick solid #cedae1;
	margin-top: 20px;
	}
#content p {
		margin-top: 10px;
		font-size: .8em;
	margin-bottom: 30px;
	}
#picofme {
	height: 50%;
	width: 50%;
	}
}
.sidebar img {
	float: left;
	padding-right: .5px;
}/* end homepage */

/* pages */
